<table class="pretty">
  <tr>
	  <!-- atrubut sortowania -->	  
    <th><%= sortable "title", "Tytuł" %></th>
    <th><%= sortable "url", "Url" %></th>
    <th><%= sortable "body", "Opis" %></th>
  </tr>
</table>

<br/><br/>

 <% for link in @links %>
<table id="linki">
    <tr id="glosuj_data"> 
      <td id="ocena">w góre / w dól</td>
      <td id="data">data: <%= link.created_at %></td>
   </tr>
   <tr>
	<th COLSPAN=2 id="user_name"> <%= link.user.username %></th>
   </tr>
   <tr>
      <th COLSPAN=2 id="tytul"><%= link.title %></th>    
   </tr>
   <tr>    
      <td COLSPAN=2 id="url"><a href="<%= link.url %>"><%= link.url %></a></td>
   </tr>
   <tr id="opis">
      <td><%= link.body %></td>
   </tr>
   <tr id="ocena_komentarz">
      <td> ocena: 15 </td>
      <td id="kom"> <%= link_to "Komentarze", link %> (<%= link.comments.length %>) </td>
   </tr>
   <tr>
      <td><%= link_to "Pokaż", link %></td>
      <td><%= link_to "Edytuj", edit_link_path(link) %></td>
      <td><%= link_to "Usuń", link, :confirm => 'Napewno?', :method => :delete %></td>
   </tr>
</table>
	
<% end %>
<br/><br/>

<%= will_paginate @links %>
