<center><table id="dodaj_moje_linki" class="pretty">
  <tr>
	  <!-- atrubut sortowania -->	  
    <th><%= sortable "created_at", "Data wstawienia" %></th>	  
    <th><%= sortable "title", "Tytuł" %></th>
    <th><%= sortable "url", "Url" %></th>
    <th><%= sortable "body", "Opis" %></th>
    <th><%= sortable "comments_amount", "Ilość komentarzy" %></th>
  </tr>
</table></center>

<br/><br/>

 <% for link in @links %><center>
<table id="linki">
    <tr id="glosuj_data"> 
      <td id="ocena">W gore / W dol</td>
      <td id="data">data: <%= link.created_at %></td>
   </tr>
   <tr>
      <th COLSPAN=2 id="tytul"><%= link_to link.title, link %></th>
   </tr>
   <tr>    
      <td COLSPAN=2 id="url"><a href="http://<%= link.url %>"><%= link.url %></a></td>
   </tr>
   <tr>
      <td id="opis"><%= link.body %></td>
   </tr>
   <tr id="ocena_komentarz">
      <td id="oc"> ocena: 15 </td>
      <td id="kom"> <%= link_to "Komentarze", link %> (<%= link.comments.length %>) </td>
   </tr>
	</table></center>
	<br/><br/>
  <% end %>


<%= will_paginate @links %>

