<%= stylesheet_link_tag :all %>
<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
  
      </ul>
    </div>
  <% end %>
<div id="new">
  <div class="field">
    Tytul:<br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    Adres url:<br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
	 Czy link ma byc prywatny?: <br />
     <%= f.check_box :private %>
  </div>
  <div class="field">
    Kategoria<br />
    DOM<%= f.radio_button :category_list, :dom %>
    PRACA<%= f.radio_button :category_list, :praca %>
    SZKOLA<%= f.radio_button :category_list, :szkola %>
    SPORT<%= f.radio_button :category_list, :sport %>
    RODZINA<%= f.radio_button :category_list, :rodzina %>
    PRZYRODA<%= f.radio_button :category_list, :przyroda %>
  </div>
  <div class="field">
    Krotki opis linku: <br />
    <%= f.text_area :body, :cols => 30, :rows => 5 %>
  </div>
    <div class="field">
    Tagi:<br />
    <%= f.text_field :tag_list %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
