<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>
<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>
<p>
  <strong>Body:</strong>
  <%= @link.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @link.user.username %>
</p> 
<p>
  Tagi: <%= @link.tag_list %>
</p>

<h2>Komentarze :</h2>

<% @link.comments.each do |comment| %>
<div id="komentarze">
  <p>
    <b>Komentator:</b>
    <%= comment.user.username %>
  </p>
 
  <p>
    <b>Komentarz:</b>
    <%= comment.body %>
  </p>

  <% if comment.user == current_user %>
  <p>
  <%= link_to 'Usuń komentarz', [@link, comment],
               :confirm => 'Napewno?',
               :method => :delete %>
  </p>
  </div>
  <br/><br/>
  
  <% end %>
</div>
<% end %>



<% if user_signed_in? %>
  <h2>Dodaj komentarz:</h2>
  <%= form_for([@link, @link.comments.build]) do |f| %>
    <div class="field">
      Treść:<br />
      <%= f.text_area :body, :rows => 5, :columns => 5 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <h2>Trzeba być zalogowanym by móc komentować wpisy.</h2>
<% end %>
<% if @link.user == current_user %>
<p>
  <%= link_to "Edytuj", edit_link_path(@link) %> |
  <%= link_to "Usuń", @link, :confirm => 'Napewno?', :method => :delete %> |
  <%= link_to "Pokaż wszystkie", links_path %>
</p>
<% else %>
<p>
  <%= link_to "Pokaż wszystkie", links_path %>
</p>  
<% end %>
