<p>Ilosc komenciorow: <%= @link.comments.length %> </p>
<p>
  Tytul:
  <%= @link.title %>
</p>
<p>
  Adres url:
  <%= @link.url %>
</p>
<p>
  Opis linku:
  <%= @link.body %>
</p>


<p><strong>Komentarze:</strong></p>
<% @link.comments.each do |comment| %>
  <p>
    Autor:
    <%= comment.user.username %>
  </p>
 
  <p>
    KOmentarz:
    <%= comment.body %>
  </p>

  <% if comment.user == current_user %>
  <p>
  <%= link_to 'Usun komentarz', [@link, comment],
               :confirm => 'Jestes pewien?',
               :method => :delete %>
  </p>
  <% end %>
<% end %>

<p><strong>Dodaj komentarz:</strong></p>
<%= form_for([@link, @link.comments.build]) do |f| %>

  <div class="field">
    <%= f.text_field :body %>
  </div>
  <p>
  <strong>Tagi:</strong>
  <%= @link.tag_list %>
</p>
  <p>
  <strong>Kategorie:</strong>
  <%= @link.category_list %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<p>
  <%= link_to "Edytuj", edit_link_path(@link) %> |
  <%= link_to "Usun", @link, :confirm => 'Jestes pewien?', :method => :delete %> |
  <%= link_to "Pokaz wszystkie", links_path %>
</p>



