<p>Ilosc komenciorow: <%= @link.comments.length %> </p>
<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>
<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>
<p>
  <strong>Body:</strong>
  <%= @link.body %>
</p>


<h2>Comments</h2>
<% @link.comments.each do |comment| %>
  <p>
    <b>Commenter:</b>
    <%= comment.user.username %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>

  <% if comment.user == current_user %>
  <p>
  <%= link_to 'Destroy Comment', [@link, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
  </p>
  <% end %>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@link, @link.comments.build]) do |f| %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <p>
  <strong>Tags:</strong>
  <%= @link.tag_list %>
</p>
  <p>
  <strong>Kategorie:</strong>
  <%= @link.category_list %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<p>
  <%= link_to "Edit", edit_link_path(@link) %> |
  <%= link_to "Destroy", @link, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", links_path %>
</p>



