<h1>Kategorie</h1>
<br></br>
<br></br>
<table>
<tr>
<td>
  <%= form_tag tags_links_path, :method => 'get' do %>
  <%= hidden_field_tag :name, :polityka %>  
  <%= image_submit_tag "rails.png", :name =>nil %>
  <% end %>
</td>
<td>
&#160;
</td>
<td>
POLITYKA
</td>
</tr>

<tr>
<td>
  <%= form_tag tags_links_path, :method => 'get' do %>
  <%= hidden_field_tag :name, :uroda %>  
  <%= image_submit_tag "rails.png", :name =>nil %>
  <% end %>
</td>
<td>
&#160;
</td>
<td>
URODA
</td>
</tr>

<tr>
<td>
  <%= form_tag tags_links_path, :method => 'get' do %>
  <%= hidden_field_tag :name, :wiadomosci %>  
  <%= image_submit_tag "rails.png", :name =>nil %>
  <% end %>
</td>
<td>
&#160;
</td>
<td>
WIADOMOŚCI
</td>
</tr>

<tr>
<td>
  <%= form_tag tags_links_path, :method => 'get' do %>
  <%= hidden_field_tag :name, :ciekawostki %>  
  <%= image_submit_tag "rails.png", :name =>nil %>
  <% end %>
</td>
<td>
&#160;
</td>
<td>
CIEKAWOSTKI
</td>
</tr>
<tr>
<td>
  <%= form_tag tags_links_path, :method => 'get' do %>
  <%= hidden_field_tag :name, :historia %>  
  <%= image_submit_tag "rails.png", :name =>nil %>
  <% end %>
</td>
<td>
&#160;
</td>
<td>
HISTORIA
</td>
</tr>

</table>