<h1>Kategorie</h1>
<br></br>
<br></br>
<table>
<tr>
<td>
  <%= form_tag tags_links_path, :method => 'get' do %>
  <%= hidden_field_tag :name, :polityka %>  
  <%= image_submit_tag "/images/polityka.jpg", :name =>nil %>
  <% end %>
</td>
<td>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;
</td>
<td>
POLITYKA
</td>
<td>
Wybory? Niespełnieone obietnice? Czli co w polityce piszczy.
</td>
</tr>

<tr>
<td>
  <%= form_tag tags_links_path, :method => 'get' do %>
  <%= hidden_field_tag :name, :uroda %>  
  <%= image_submit_tag "/images/uroda.jpg", :name =>nil %>
  <% end %>
</td>
<td>
&#160;
</td>
<td>
URODA
</td>
<td>
Malowanie paznokci? Masaż? W zdrowym ciele zdrowy duch.
</td>
</tr>

<tr>
<td>
  <%= form_tag tags_links_path, :method => 'get' do %>
  <%= hidden_field_tag :name, :wiadomosci %>  
  <%= image_submit_tag "/images/wiadomosci.png", :name =>nil %>
  <% end %>
</td>
<td>
&#160;
</td>
<td>
WIADOMOŚCI
</td>
<td>
Jedna baba drugiej babie ukradła... informacje z kraju i ze świata.
</td>
</tr>

<tr>
<td>
  <%= form_tag tags_links_path, :method => 'get' do %>
  <%= hidden_field_tag :name, :ciekawostki %>  
  <%= image_submit_tag "/images/ciekawostki.png", :name =>nil %>
  <% end %>
</td>
<td>
&#160;
</td>
<td>
CIEKAWOSTKI
</td>
<td>
Czy w Miechucinie wylądowało UFO? Zobacz sam!
</td>
</tr>
<tr>
<td>
  <%= form_tag tags_links_path, :method => 'get' do %>
  <%= hidden_field_tag :name, :historia %>  
  <%= image_submit_tag "/images/historia.jpg", :name =>nil %>
  <% end %>
</td>
<td>
&#160;
</td>
<td>
HISTORIA
</td>
<td>
Przed 45', po 45' przed 89' i po 89'
</td>
</tr>

</table>